body {
  background: radial-gradient(circle at top, #ffe4ec, #f7c6d9);
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.hearts-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

@keyframes fall {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(110vh);
  }
}
 body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: pink;
    }

    .heart {
        position: relative;
        width: 220px;
        height: 220px;
        background: red;
        transform: rotate(-45deg);
        animation: latido 1.2s infinite;
    }

    .heart::before,
    .heart::after {
        content: "";
        position: absolute;
        width: 220px;
        height: 220px;
        background: red;
        border-radius: 50%;
    }

    .heart::before {
        top: -100px;
        left: 0;
    }

    .heart::after {
        left: 100px;
        top: 0;
    }

    @keyframes latido {
        0% { transform: rotate(-45deg) scale(1); }
        50% { transform: rotate(-45deg) scale(1.1); }
        100% { transform: rotate(-45deg) scale(1); }
    }
   .texto {
        position: absolute;
        transform: rotate(45deg) translateY(-15px);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 200px;
        line-height: 2.0;
        z-index: 15;
    }
        .texto h2 {
        margin: 0;
        font-size: 20px;
    }

    .contador {
        font-size: 20px;
        margin-top: 10px;
        line-height: 1.4;
    }

    .tiempo {
        font-size: 26px;
        font-weight: bold;
    }

    @keyframes latido {
        0% { transform: rotate(-45deg) scale(1); }
        50% { transform: rotate(-45deg) scale(1.08); }
        100% { transform: rotate(-45deg) scale(1); }
    }